@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');



* {
    font-size: 20px;
}
h1 {
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
    color: rgb(20, 23, 160);
}
body {
    background-color: rgb(116, 211, 116);
}
.explore {
    font-family: 'Lemon', serif;
    color: rgb(250, 130, 100);
    font-size: 25px;
}
.dive {
    font-family: 'Kanit', sans-serif;
    color: rgb(250, 100, 100);
    font-size: 25px;
}
.inner {
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    color: darkmagenta;
}
.copy {
    font-family: 'Source Code Pro', monospace;
    font-size: 25px;
    color: orangered;
}
.urdu {
    font-family: 'Noto Nastaliq Urdu', serif;
    font-size: 25px;
    color: maroon;
}
.practicing {
    font-family: 'Teko', sans-serif;
    font-size: 25px;
    color: mediumblue;
}

